body{

    font-family: "Comic Sans Ms";
    background-color: crimson;
    color: white;
}

.clearfix{
    clear:both;
}

.container{
    margin: auto;
    width: 60%;
    border: 10px dotted white;
    padding: 10px;
}

ul.ponys {
	min-width: 300px;
	list-style: none;
	padding-top: 20px;
}

ul.ponys li {
   float:left;
}

ul.ponys li figure img{
    text-align: center;
} 

ul.ponys li figure figcaption {
    text-align: center;
} 